<!doctype html>

<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/helpers.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/hexhelper.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/ifygl.class.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/sprite.class.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/board.class.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/cell.class.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/food.class.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/program.class.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/hexgrid.class.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/menu.class.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/game.class.js"></script>
		<style>
		*
		{
			padding: 0px;
			margin: 0px;
		}
		
		#wrapper
		{
			margin: 50px auto;
			width: 640px;
		}

		body {background-color:#333333;}
		
		#text-render
		{
			display: none;
		}
		</style>
	</head>
	<body>
		<div id="wrapper" style="border-width: 1px; border-style: solid;">
			<canvas id="game"></canvas>
		</div>
		<canvas id="text-render"></canvas>
		
		<script type="text/javascript">
		
		g = new Game();
		g.init();
		
		</script>
	</body>
</html>
